<hr>

<ul>
  <li><a href="/rubytruffle">More information about JRuby+Truffle</a></li>
  <li><a href="/rubytruffle/flip-flops/">Flip-Flops — the 1-in-10-million operator</a></li>
  <li><a href="/rubytruffle/deoptimizing/">Deoptimizing Ruby</a></li>
  <li><a href="/rubytruffle/cext/">Very High Performance C Extensions For JRuby+Truffle</a></li>
  <li><a href="/rubytruffle/small-data-structures/">Optimising Small Data Structures in JRuby+Truffle</a></li>
  <li><a href="/rubytruffle/pushing-pixels/">Pushing Pixels with JRuby+Truffle</a></li>
  <li><a href="/rubytruffle/set_trace_func/">Tracing With Zero Overhead in JRuby+Truffle</a></li>
  <li><a href="/rubytruffle/how-method-dispatch-works-in-jruby-truffle/">How Method Dispatch Works in JRuby+Truffle</a></li>
  <li><a href="/rubytruffle/announcement/">A Truffle/Graal High Performance Backend for JRuby</a></li>
</ul>
