<hr>

<ul>
  <li><a href="/truffleruby/">More information about TruffleRuby</a></li>
  <li><a href="/truffleruby/stamping-out-overflow-checks/">Stamping Out Overflow Checks in Ruby</a></li>
  <li><a href="/truffleruby/rubykaigi21/">The Future Shape of Ruby Objects</a></li>
  <li><a href="/truffleruby/seeing-escape-analysis/">Seeing Escape Analysis Working</a></li>
  <li><a href="/truffleruby/basic-truffle-graphs/">Understanding Basic Truffle Graphs</a></li>
  <li><a href="/truffleruby/ruby-stm/">Context on STM in Ruby</a></li>
  <li><a href="/truffleruby/register-allocation/">Seeing Register Allocation Working in Java</a></li>
  <li><a href="/truffleruby/basic-graal-graphs/">Understanding Basic Graal Graphs</a></li>
  <li><a href="https://shopify.engineering/understanding-programs-using-graphs">Understanding Programs Using Graphs</a></li>
  <li><a href="/truffleruby/low-overhead-polling/">Low Overhead Polling For Ruby</a></li>
  <li><a href="/truffleruby/tenthings/">Top 10 Things To Do With GraalVM</a></li>
  <li><a href="/truffleruby/structs/">Ruby Objects as C Structs and Vice Versa</a></li>
  <li><a href="/truffleruby/jokerconf17/">Understanding How Graal Works — a Java JIT Compiler Written in Java</a></li>
  <li><a href="/truffleruby/flip-flops/">Flip-Flops — the 1-in-10-million operator</a></li>
  <li><a href="/truffleruby/deoptimizing/">Deoptimizing Ruby</a></li>
  <li><a href="/truffleruby/cext/">Very High Performance C Extensions For JRuby+Truffle</a></li>
  <li><a href="/truffleruby/small-data-structures/">Optimising Small Data Structures in JRuby+Truffle</a></li>
  <li><a href="/truffleruby/pushing-pixels/">Pushing Pixels with JRuby+Truffle</a></li>
  <li><a href="/truffleruby/set_trace_func/">Tracing With Zero Overhead in JRuby+Truffle</a></li>
  <li><a href="/truffleruby/how-method-dispatch-works-in-jruby-truffle/">How Method Dispatch Works in JRuby+Truffle</a></li>
  <li><a href="/truffleruby/announcement/">A Truffle/Graal High Performance Backend for JRuby</a></li>
</ul>
