<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<title>{{ page.title }}</title>

<!--[if lt IE 9]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<meta name="viewport" content="initial-scale=1.0">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">

<link rel="stylesheet" href="/common.css">
<link rel="stylesheet" href="/home.css">

</head>

<body>

<article>

{{ content }}

<hr>

<footer>
<p>{{ page.copyright }}</p>
{{ page.footer }}
<p>Opinions are my own.</p>
</footer>

</article>

{% include analytics.html %}

</body>
</html>
