<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">

<title>{{ page.title }}</title>

<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<meta name="viewport" content="initial-scale=1.0">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Serif+Pro&display=swap">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">

<link rel="stylesheet" href="/common.css">
<link rel="stylesheet" href="/section.css">

</head>

<body>

<article>

<header>
<h1 >{{ page.title }}</h1>
</header>

{{ content }}

<hr>

<footer>
<p>{{ page.copyright }}</p>
{{ page.footer }}
</footer>

</article>

{% include analytics.html %}

</body>
</html>
